
  .mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }

  .mymodal form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .mymodal form label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
  }

  .mymodal button.btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f02a2b;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .mymodal button.btn:hover {
    background: #e14f50;
  }

  .myoverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .myspan {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #4CAF50;
  }

  .divResult {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .divRegister {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    margin-left: 10px;
    justify-content: flex-end;
  }
  
  .divRegister button{
    border: 0;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    background: #f02a2b;
    color: #fff;
    cursor: pointer;
  }
  
  .divRegister button:hover{
    background: #e14f50;
  }

  .divRegister label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 5px;
  }